<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
      <div class="row">
        <!--Gift Icon-->
        <div class="col text-center">
          <i class="far fa-times-circle fa-6x col-red"></i>
        </div>
        <!--Modal Text-->
        <div class="col-12">
          <dl class="dl-horizontal">
            <dt class="pull-left me-2">ID:</dt>
            <dd>{{ maint.id }}</dd>
            <dt class="pull-left me-2">Maintainer:</dt>
            <dd>{{ maint.maintener }}</dd>
            <dt class="pull-left me-2">Remarks:</dt>
            <dd>{{ maint.note }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <mat-dialog-actions align="end" class="mb-1">
      
      <button mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>

      <button mat-flat-button color="warn" (click)="confirmDelete()" tabindex="-1">
        Delete
      </button>
    </mat-dialog-actions>
  </div>
  