<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Transaction'" [items]="['Executive']" [active_item]="'Transactions'"></app-breadcrumb>
    </div>
    <app-widgets></app-widgets>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>User Actions</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <div class="card">
                <div class="body">
                  <div class="table-responsive">
                    <div class="materialTableHeader">
                      <div class="row">
                        <div class="col-8">
                          <ul class="header-buttons-left ms-0">
                            <li class="dropdown">
                              <h2>Your Activities</h2>
                            </li>
                            <li class="dropdown m-l-20">
                              <label for="search-input"
                                ><i class="material-icons search-icon"
                                  >search</i
                                ></label
                              >
                              <input
                                placeholder="Search"
                                type="text"
                                (keyup)="applyFilter($event)"
                                #filter
                                class="browser-default search-field"
                                aria-label="Search box"
                              />
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <mat-table
                      #table
                      [dataSource]="dataSource"
                      matSort
                      class="mat-cell"
                    >
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          >Id
                        </mat-header-cell>
                        <mat-cell *matCellDef="let log">{{ log.id }}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="starttime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          >Date
                        </mat-header-cell>
                        <mat-cell *matCellDef="let log">
                          {{ log.starttime | date: "medium" }}</mat-cell
                        >
                      </ng-container>
                      <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          >Username
                        </mat-header-cell>
                        <mat-cell *matCellDef="let log">
                          {{ log.username }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="requesttip">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          >Request IP
                        </mat-header-cell>
                        <mat-cell *matCellDef="let log">
                          {{ log.requestip }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="activity">
                        <mat-header-cell *matHeaderCellDef mat-sort-header
                          >Activity
                        </mat-header-cell>
                        <mat-cell *matCellDef="let log">
                          {{ log.activity }}
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                        (click)="detailsCall(row)"
                        [style.cursor]="'pointer'"
                        matRipple
                      >
                      </mat-row>
                    </mat-table>
                    <!-- Loading spinner -->
                    <div *ngIf="isLoading" class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>
                    <div
                      *ngIf="transactions.length < 0"
                      class="no-results"
                      [style.display]="
                        dataSource.renderedData.length == 0 ? '' : 'none'
                      "
                    >
                      No results
                    </div>
                    <mat-paginator
                      #paginator
                      [pageIndex]="0"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                    >
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>