<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!-- <img [src]='asset.img' alt="avatar"> -->
                <img src="assets/images/emtec.png" alt="avatar" />
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                        {{ dialogTitle }}
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" hidden>
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="id" readonly required />
                       
                        <mat-error *ngIf="Form.get('id').hasError('required')">
                            ID is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline" hidden>
                        <mat-label>Asset_ID</mat-label>
                        <input matInput formControlName="asset_id" readonly required />
                       
                        <mat-error *ngIf="Form.get('asset_id').hasError('required')">
                            ID is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Maintainer</mat-label>
                        <input matInput formControlName="maintener" required />
                       
                        <mat-error *ngIf="Form.get('maintener').hasError('required')">
                            Maintainer is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Note</mat-label>
                        <textarea matInput formControlName="note"></textarea>
                        <!-- <mat-icon matSuffix>school</mat-icon> -->
                        <mat-error *ngIf="Form.get('note').hasError('required')">
                            Note is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <div mat-dialog-action [align]="'end'">
                        <button class="btn-space" type="button" mat-raised-button color="warn" mat-button
                            (click)="cancel()">
                            Cancel
                        </button>
                        <button mat-raised-button color="primary" [disabled]="!Form.valid">
                            Submit
                        </button>
                        <!-- [disabled]="!docForm.valid " -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<!-- Form value = {{ Form.value | json }}
  <br />
  Form Status = {{ Form }} -->

<!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Joining date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="employeesForm.get('date').hasError('required')">
                  Please select date
                </mat-error>
              </mat-form-field> -->