<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h5 class="m-b-20"> Total Departments</h5>
        <h2 class="text-end"><i class="fas fa-building float-start"></i><span>{{departments.entity.length}}</span></h2>
        <p class="m-b-0">18% Higher Then Last Month</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h6 class="m-b-20">Total Locations</h6>
        <h2 class="text-end"><i class="	far fa-compass float-start"></i><span>{{locations.length}}</span></h2>
        <p class="m-b-0">21% Higher Then Last Month</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h6 class="m-b-20">Total Department Units</h6>
        <h2 class="text-end"><i class="fas fa-landmark float-start"></i><span>{{departmentUnits.length}}</span></h2>
        <p class="m-b-0">37% Higher Then Last Month</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h6 class="m-b-20">Total Custodians</h6>
        <h2 class="text-end"><i class="fas fa-user float-start"></i><span>{{ custodians.length}}</span></h2>
        <p class="m-b-0">10% Higher Then Last Month</p>
      </div>
    </div>
  </div>
</div>
