

<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <!-- <img [src]='asset.img' alt="avatar"> -->
          <img src="assets/images/emtec.png" alt="avatar" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
              {{ dialogTitle }}
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Insurer's Name</mat-label>
              <input matInput formControlName="insurer"/>
              <mat-error *ngIf="Form.get('insurer').hasError('required')">
                Insurer's Name is required
              </mat-error>
            </mat-form-field>
          </div>
          
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Policy Number</mat-label>
              <input matInput formControlName="policyNumber"/>
              <mat-error *ngIf="Form.get('policyNumber').hasError('required')">
                Policy Number is required
              </mat-error>
            </mat-form-field>
          </div>
          
        </div>


        <div class="row">
          
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Cost</mat-label>
              <input matInput formControlName="cost" type="number" required />
              <span matPrefix>SH.&nbsp;</span>
              <span matSuffix>.00</span>          
              <mat-error *ngIf="Form.get('cost').hasError('required')">
                Cost is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Insuarance start date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="Form.get('startDate').hasError('required')">
                      Please select Insuarance start date
                    </mat-error>
                  </mat-form-field>
            </div>
        </div>

        <div class="row">
          
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Insuarance end date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="Form.get('endDate').hasError('required')">
                      Please select Insuarance end date
                    </mat-error>
                  </mat-form-field>
            </div>
          </div>



        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                     
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Any Remarks/Comment</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-error *ngIf="Form.get('description').hasError('required')">
                Remarks is required
              </mat-error>
            </mat-form-field>
            
          </div>
        </div>
       
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <div mat-dialog-action [align]="'end'">
              <button class="btn-space" type="button" mat-raised-button color="warn" mat-button
                (click)="cancel()">
                Cancel
              </button>
              <button mat-raised-button color="primary" [disabled]="!Form.valid">Submit</button>
              <!-- [disabled]="!docForm.valid " -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <br />
  <!-- Form value = {{ Form.value | json }}
  <br />
  Form Status = {{ Form }} -->
  
  <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Joining date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="employeesForm.get('date').hasError('required')">
                  Please select date
                </mat-error>
              </mat-form-field> -->