<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Import Excel'" [items]="['Assets']" [active_item]="'Import Excel'">
      </app-breadcrumb>
    </div>
    <app-widgets></app-widgets>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <p>
                <strong>
                  Follow the following guidelines to complete this process
                  successfully.
                </strong>
              </p>
              <ul>
                <li>
                  <i class="fas fa-angle-double-right m-l-10"></i> Make sure
                  every field is filled. Starting from cell number 2 of excel
                  stylesheet downwards.
                </li>
                <li>
                  <i class="fas fa-angle-double-right m-l-10"></i> Save the
                  excel stylesheet as *.xlsx or *.xls extension
                </li>
                <li>
                  <i class="fas fa-angle-double-right m-l-10"></i>
                  The fields cost,depreciation rate should be strictly as
                  numbers only
                </li>
                <li>
                  <i class="fas fa-angle-double-right m-l-10"></i> Make sure the
                  values for categories,depreciation type are exactly as named
                  <a href="javascript:void()">here</a>
                </li>
                <li>
                  <i class="fas fa-angle-double-right m-l-10"></i>
                  The date format for the field of date acquired should be in
                  the format MM/DD/YYYY
                </li>
                <li>
                  <i class="fas fa-angle-double-right m-l-10"></i>
                  Use this excel template to fill your data upload and
                  structure.
                  <a href="javascript:void()">Template Download</a>
                </li>
              </ul>
              <!-- <div class="row">
                      <div class="col-md-5">
                        <div *ngIf="currentFile" class="progress">
                          <div
                            class="progress-bar progress-bar-info progress-bar-striped"
                            role="progressbar"
                            attr.aria-valuenow="{{ progress }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: progress + '%' }"
                          >
                            {{ progress }}%
                          </div>
                        </div>
                      </div>
                      <div class="col-md-7"></div>
                    </div>
                    
                    <label class="btn btn-default">
                      <input
                        class="form-control"
                        accept=".xlsx, .xls, .csv"
                        type="file"
                        (change)="selectFile($event)"
                        (change)="OnFileChange($event)"
                      />
                    </label>
                    <button
                      class="btn btn-success"
                      [disabled]="!selectedFiles"
                      (click)="uploadFile()"
                    >
                      Upload
                    </button>
                    <div class="alert alert-light" role="alert">{{ message }}</div> -->
            </div>

            <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8 mb-3">
                <mat-label>Upload Excel File</mat-label>
                <!-- <app-file-upload (change)="onFileChange($event)" (change)="selectFile($event)"></app-file-upload> -->
                <app-excel-upload (change)="onFileChange($event)" (change)="selectFile($event)"></app-excel-upload>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 ">


                <div class="container mt-4">

                  <div class="row align-items-center">
                    <div class="col">
                    </div>
                    <div class="col">
                      <div class="m-l-3 m-b-3">
                        <button mat-flat-button color="primary" type="submit" class="msr-2 mt-2" (click)="onSubmit()">
                          Submit
                        </button>
                        <button mat-flat-button color="warn" class="msr-1 mt-2" (click)="back()">
                          Discard
                        </button>

                      </div>
                    </div>
                    <div class="col">

                    </div>
                  </div>


                </div>

              </div>

            </div>
            <div *ngIf="currentFile" class="progress my-3">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
              </div>
            </div>
            <div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>
            <div *ngIf="messageSuccess" class="alert alert-success" role="alert">{{ messageSuccess }}</div>

            <div class="row" *ngIf="this.excelSelected">
              <mat-label>First Page preview of Excel File</mat-label>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                <div class="dt-responsive table-responsive">
                  <table class="table table-striped table-bordered nowrap">
                    <tbody>
                      <tr *ngFor="let row of exceldata">
                        <td *ngFor="let cell of row">
                          {{ cell }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>