<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'"></app-breadcrumb>
      </div>
      <app-widgets></app-widgets>
      <!-- <div class="row clearfix"> -->
        <!-- Bar chart with line -->
        <!-- <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Asset Performance</h2>
            </div>
            <div class="body">
              <div class="recent-report__chart">
                <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                  [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [colors]="lineChartOptions.colors"
                  [dataLabels]="lineChartOptions.dataLabels" [legend]="lineChartOptions.legend"
                  [tooltip]="lineChartOptions.tooltip" [markers]="lineChartOptions.markers" [grid]="lineChartOptions.grid"
                  [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title" [fill]="lineChartOptions.fill">
                </apx-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Sub-County Wise Assets</h2>
            </div>
            <div class="body">
              <div id="chart">
                <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                  [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                  [dataLabels]="pieChartOptions.dataLabels" [legend]="pieChartOptions.legend" class="apex-pie-center">
                </apx-chart>
              </div>
              <div class="table-responsive m-t-15">
                <table class="table align-items-center">
                  <tbody>
                    <tr>
                      <td><i class="fa fa-circle col-cyan msr-2"></i> Makueni</td>
                      <td>23</td>
                      <td class="col-green">+32%</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle col-blue msr-2"></i>Machakos</td>
                      <td>32</td>
                      <td class="col-green">+12%</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle col-orange msr-2"></i>Kibwezi</td>
                      <td>12</td>
                      <td class="col-orange">-12%</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-circle col-green msr-2"></i>Kitui</td>
                      <td>32</td>
                      <td class="col-green">+3%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->
      <!-- </div> -->

      <div class="row mt-5">
        <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Support Tickets Survay</h2>
              <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Action</button>
                <button mat-menu-item>Another action</button>
                <button mat-menu-item>Something else here</button>
              </mat-menu>
            </div>
            <div class="body">
              <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
                [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
                [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis"
                [tooltip]="barChartOptions.tooltip" [legend]="barChartOptions.legend" [fill]="barChartOptions.fill">
              </apx-chart>
            </div>
          </div>
        </div> -->

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <div class="card" style="position: relative; height: 500px;">
            <div class="header">
              <h2>Asset Performance</h2>
            </div>
            <div class="body">
              <div class="recent-report__chart">
                <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                  [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [colors]="lineChartOptions.colors"
                  [dataLabels]="lineChartOptions.dataLabels" [legend]="lineChartOptions.legend"
                  [tooltip]="lineChartOptions.tooltip" [markers]="lineChartOptions.markers" [grid]="lineChartOptions.grid"
                  [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title" [fill]="lineChartOptions.fill">
                </apx-chart>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card" style="position: relative; height: 500px;">
            <div class="card-body">
              <div class="float-start">
                <h6 class="text-muted">Average Asset Value by Category</h6>
                <h5>129 UGX <span class="text-muted font-12">(Average)</span></h5>
              </div>
              <div class="mb-5">
                <apx-chart [series]="performanceRateChartOptions.series" [chart]="performanceRateChartOptions.chart"
                  [xaxis]="performanceRateChartOptions.xaxis" [stroke]="performanceRateChartOptions.stroke"
                  [colors]="performanceRateChartOptions.colors" [dataLabels]="performanceRateChartOptions.dataLabels"
                  [legend]="performanceRateChartOptions.legend" [markers]="performanceRateChartOptions.markers"
                  [grid]="performanceRateChartOptions.grid" [yaxis]="performanceRateChartOptions.yaxis"
                  [tooltip]="performanceRateChartOptions.tooltip" [title]="performanceRateChartOptions.title"></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>