<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Pending Requests'" [items]="['Home']" [active_item]="'Pending Requests'">
        </app-breadcrumb>
      </div>
      <!-- Widgets -->
      <app-widgets></app-widgets>
      <!-- #END# Widgets -->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="table-responsive">
                        <div class="materialTableHeader">
                            <div class="row">
                                <div class="col-8">
                                    <ul class="header-buttons-left ms-0">
                                        <li class="dropdown">
                                            <h2>Pending Requests</h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                          <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter class="browser-default search-field"
                                            aria-label="Search box">
                                        </li>
                                        
                                        <li>
                                            <div class="m-l-10" matTooltip="REFRESH">
                                                <button mat-mini-fab color="primary" (click)="refresh()">
                                                    <mat-icon class="col-white">refresh</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                       
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="header-buttons">
                                        <li>
                                            <div class="export-button m-l-10" matTooltip="XLSX">
                                                <img src="assets/images/icons/xlsx.png" alt=""
                                                    (click)="exporter.exportTable('xlsx', {fileName:'assets-list', sheet: 'sheet1'})" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="export-button m-l-10" matTooltip="CSV">
                                                <img src="assets/images/icons/csv.png" alt=""
                                                    (click)="exporter.exportTable('csv')" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="export-button m-l-10" matTooltip="JSON">
                                                <img src="assets/images/icons/json.png" alt=""
                                                    (click)="exporter.exportTable('json')" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="export-button m-l-10" matTooltip="TXT">
                                                <img src="assets/images/icons/txt.png" alt=""
                                                    (click)="exporter.exportTable('txt')" />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                            #exporter="matTableExporter">
                            
                            
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-5">Id</mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="table-img tbl-col-width-per-5">{{row.id}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="assetCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-12">Asset Number</mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="table-img tbl-col-width-per-12"> {{row.physicalAssetNo}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="category" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-8">Category</mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="table-img tbl-col-width-per-8"> {{row.assetCategory}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="assetName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-6">Name</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6"> {{row.asset_name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dateAcquired" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-8">DateAcquired</mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="table-img tbl-col-width-per-8">{{row.dateAcquired | date: 'MM/dd/yyyy'}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="cost">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-6">Cost</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6"> {{row.cost}}</mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="asset_Value" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-8">AssetValue</mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="table-img tbl-col-width-per-8"> {{row.asset_Value ? row.asset_Value: "  -  " }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="custodian" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-8">Custodian</mat-header-cell>
                                <mat-cell *matCellDef="let row" (click)="onSelect(row)" class="table-img tbl-col-width-per-8"> {{row.custodian}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="location">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-8">Location</mat-header-cell>
                                <mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-8"> {{row.location}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Action
                              </mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let row">
                           
                                  <div *ngIf="row.action=='REVALUATION'">
                                    <span class="badge badge-pill badge-primary col-green">
                                          {{"Revaluation"}}</span>
                                  </div>
                                  <div *ngIf="row.action=='WRITE_OFF'">
                                    <span class="badge badge-pill badge-primary col-orange">
                                        {{"WriteOff"}}</span>
                                </div>
                                  <div *ngIf="row.action=='TRANSFER'">
                                      <span class="badge badge-pill badge-primary col-purple">
                                          {{"Transfer"}}</span>
                                  </div>
                                  <div *ngIf="row.action=='DISPOSAL'">
                                      <span class="badge badge-pill badge-primary col-red">
                                          {{"Disposal"}}</span>
                                  </div>
                                  
                                  <div *ngIf="row.action=='NEW ASSET'">
                                    <span class="badge badge-pill badge-primary col-black">
                                        {{"New Asset"}}</span>
                                </div>
                                <div *ngIf="row.action=='ASSET_UPDATE'">
                                  <span class="badge badge-pill badge-primary col-indigo">
                                      {{"Update Asset"}}</span>
                              </div>
                              </mat-cell>
                          </ng-container>
                            
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-9"> Status
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-9" (click)="onSelect(row)">
                                  <div *ngIf="row.status=='Pending Review'">
                                    <span class="badge badge-pill badge-primary col-blue">
                                        {{"Pending"}}</span>
                                  </div>
                                  <div *ngIf="row.status=='Rejected'">
                                    <span class="badge badge-pill badge-primary col-red">
                                        {{"Rejected"}}</span>
                                  </div>
                                <!-- Incomplete<mat-progress-bar mode="determinate" value="0" color="danger" class="progress-round">
                                </mat-progress-bar>
                                Complete<mat-progress-bar mode="determinate" class="progress-round green-progress" value="100">
                                </mat-progress-bar> -->
                                    
                                </mat-cell>
                            </ng-container>
                            <!-- <ng-container matColumnDef="action" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-9"> Action
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-9">
                                    <div *ngIf="row.action=='REVALUATION'">
                                        <span class="badge badge-pill badge-primary col-green">
                                            {{row.action}}</span>
                                    </div>
                                    <div *ngIf="row.action=='Written off'">
                                      <span class="badge badge-pill badge-primary col-orange">
                                          {{row.action}}</span>
                                  </div>
                                    <div *ngIf="row.action=='Transfered'">
                                        <span class="badge badge-pill badge-primary col-purple">
                                            {{row.action}}</span>
                                    </div>
                                    <div *ngIf="row.action=='Disposed'">
                                        <span class="badge badge-pill badge-primary col-red">
                                            {{row.action}}</span>
                                    </div>
                                </mat-cell>
                            </ng-container> -->
                            
                          
                            <!-- actions -->
                            <ng-container matColumnDef="approve">
                                <mat-header-cell  *matHeaderCellDef class="table-img tbl-col-width-per-12">Approve</mat-header-cell>
                                <mat-cell *matCellDef="let row; let i=index;" class="table-img tbl-col-width-per-12">
                                    <button class="badge badge-solid-green btn btn-success btn-sm m-1" (click)="approveReq(row)">Approve
                                    </button>
                                    
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="reject">
                              <mat-header-cell  *matHeaderCellDef class="table-img tbl-col-width-per-12">Reject</mat-header-cell>
                              <mat-cell *matCellDef="let row; let i=index;" class="table-img tbl-col-width-per-12">
                                 
                                  <button class="badge badge-solid-red btn btn-danger btn-sm m-1" (click)="rejectReq(row)">Reject
                                  </button>
                              </mat-cell>
                          </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                                [style.cursor]="'pointer'" matRipple>
                            </mat-row>
                        </mat-table>
                        <!-- Loading spinner -->
                        <!-- <div *ngIf="isLoading" class="tbl-spinner">
                            <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                            </mat-progress-spinner>
                        </div> -->
                        <div *ngIf="isLoading"  class="tbl-spinner">
                          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                          </mat-progress-spinner>
                        </div>
                        <!-- <div *ngIf="!isLoading" class="no-results"
                            [style.display]="dataSource.length == 0 ? '' : 'none'">
                            No results
                        </div> -->
                        <!-- <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                            [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator> -->
                        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2,5,10,20, 30, 40, 50, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
     
      
    </div>
  </section>



  <!-- <div class="row">
        
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="card">
        <div class="header">
          <h2>My Task</h2>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos text-center">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Task</th>
                  <th>Status</th>
                  <th>Manager</th>
                  <th>Progress</th>
                  <th>Documents</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user1.jpg" alt="">
                  </td>
                  <td>Task A</td>
                  <td>
                    <span class="label l-bg-green shadow-style">Working</span>
                  </td>
                  <td>Jay Soni</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-green width-per-62" role="progressbar" aria-valuenow="62"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user2.jpg" alt="">
                  </td>
                  <td>Task B</td>
                  <td>
                    <span class="label l-bg-purple shadow-style">Completed</span>
                  </td>
                  <td>Sarah Smith</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-purple width-per-40" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user3.jpg" alt="">
                  </td>
                  <td>Task C</td>
                  <td>
                    <span class="label l-bg-orange shadow-style">On Hold</span>
                  </td>
                  <td>Megha Trivedi</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-orange width-per-72" role="progressbar" aria-valuenow="72"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user4.jpg" alt="">
                  </td>
                  <td>Task D</td>
                  <td>
                    <span class="label l-bg-cyan shadow-style">Wait Approvel</span>
                  </td>
                  <td>Jacob Ryan</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-cyan width-per-95" role="progressbar" aria-valuenow="95"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user5.jpg" alt="">
                  </td>
                  <td>Task E</td>
                  <td>
                    <span class="label bg-green shadow-style">Suspended</span>
                  </td>
                  <td>Airi Satou</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-green width-per-87" role="progressbar" aria-valuenow="87"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user1.jpg" alt="">
                  </td>
                  <td>Task A</td>
                  <td>
                    <span class="label l-bg-green shadow-style">Working</span>
                  </td>
                  <td>Angelica Ramos</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-green width-per-62" role="progressbar" aria-valuenow="62"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
                <tr>
                  <td class="table-img">
                    <img src="assets/images/user/user2.jpg" alt="">
                  </td>
                  <td>Task B</td>
                  <td>
                    <span class="label l-bg-purple shadow-style">Completed</span>
                  </td>
                  <td>Ashton Cox</td>
                  <td>
                    <div class="progress shadow-style">
                      <div class="progress-bar l-bg-purple width-per-40" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td>
                    <i class="far fa-file-pdf tbl-pdf"></i>
                  </td>
                  <td>
                    <button mat-stroked-button color="primary">Details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->