<div class="addContainer">
  <div *ngIf="log" class="contact-details">
    <div class="modalHeader">
      <div class="contact-details-name mb-2">User Details</div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        <div class="row mt-5" style="width: 98%">
          <div class="col-5 m-b-10">Activity ID:</div>
          <div class="col-7 pro-left m-b-10">{{ log.id }}</div>
          <div class="col-5 m-b-10">Activity:</div>
          <div class="col-7 pro-left m-b-10">{{ log.activity }}</div>
          <div class="col-5 m-b-10">Request IP:</div>
          <div class="col-7 pro-left m-b-10">{{ log.requestip }}</div>
          <div class="col-5 m-b-10">Start Time:</div>
          <div class="col-7 pro-left m-b-10">
            <span class="material-icons-outlined project-icon2">
              date_range </span
            >{{ log.starttime | date }}
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
