<div class="addContainer">
  <div *ngIf="departmentUnit" class="contact-details">
    <div class="modalHeader">
      <div class="contact-details-name mb-2">Department Unit Details</div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        <div class="row mt-1" style="width: 98%">
          <div class="col-5 m-b-10">Department Unit ID:</div>
          <div class="col-7 pro-left m-b-10">{{ departmentUnit.id }}</div>
          <div class="col-5 m-b-10">Department Unit Code:</div>
          <div class="col-7 pro-left m-b-10">{{ departmentUnit.departmentCode }}</div>
          <div class="col-5 m-b-10">Department Unit Name:</div>
          <div class="col-7 pro-left m-b-10">{{ departmentUnit.departmentName }}</div>
          <div class="col-5 m-b-10">Department  Name:</div>
          <div class="col-7 pro-left m-b-10">{{ departmentUnit.department }}</div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>
