<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Lease Details'" [items]="['Home', 'Lease']" [active_item]="'Lease Details'">
      </app-breadcrumb>
    </div>
    <app-widgets></app-widgets>




    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card" *ngIf="isLoading">
          <div class="d-flex justify-content-center">
            <img src="assets/images/spinner.gif" style="display: block; margin: auto; width: 200px" />
          </div>
        </div>

        <div class="card" *ngIf="!loading">
					<div class="body">
						<h5 class="b-b p-10 text-strong">Actions on Lessor</h5>
						<br />
						<div class="row">
							<div class="col-xs-3 col-sm-12 col-md-12 col-lg-3">
								<a>
									<button style="width: 100%" type="button" class="btn btn-sm btn-primary"
										(click)="openRevaluate()">
										Add
									</button>
								</a>
							</div>
							<div class="col-xs-3 col-sm-12 col-md-12 col-lg-3">
								<a>
									<button style="width: 100%" type="button" class="btn btn-sm btn-success"
										(click)="openTransfer()">
										Modify
									</button>
								</a>
							</div>
							<div class="col-xs-3 col-sm-12 col-md-12 col-lg-3">
								<a>
									<button style="width: 100%" type="button" class="btn btn-sm btn-warning"
										(click)="openDispose()">
										Verify
									</button>
								</a>
							</div>
							<div class="col-xs-3 col-sm-12 col-md-12 col-lg-3">
								<a>
									<button style="width: 100%" type="button" class="btn btn-sm btn-danger"
										(click)="openWriteOff()">
										Delete
									</button>
								</a>
							</div>
						</div>
						<br />
					</div>
				</div>

        <div class="card" *ngIf="isLoading">
          <div class="d-flex justify-content-center">
            <img src="assets/images/spinner.gif" style="display: block; margin: auto; width: 200px" />
          </div>
        </div>

        <div class="card" *ngIf="!isLoading">
          <div class="body">
            <h5 class="b-b p-10 text-strong">Lease Documents</h5>
            <br />

            <div class="row">
              <div class="body">
                <div class="doc-file-type">
                  <ul class="list-unstyled" style="position: relative; height: 400px;" [perfectScrollbar]>
                    <ul class="list-unstyled" style="position: relative; height: 400px;" [perfectScrollbar]>
                      <li class="d-flex mb-3" *ngFor="let document of leaseDetail.leaseDocuments; let i = index" (click)="onClickDownloadPdf(document)">
                        <span class="msr-3 align-self-center img-icon primary-rgba text-primary"><i class="far fa-file-pdf"></i></span>
                        <div class="set-flex">
                          <h5 class="font-16 mb-1">{{ document.documentTitle }}</h5>
                          <p>Lease Document {{ i + 1 }}</p>
                        </div>
                        <div class="ms-auto">
                          <td>
                            <i class="far fa-arrow-alt-circle-down" (click)="onClickDownloadPdf(document)"></i>
                          </td>
                        </div>
                      </li>
                    </ul>
                    
                  </ul>
                  
                </div>
              </div>
            </div>
            
            <br />
          </div>
        </div>
      </div>
 



      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card" *ngIf="isLoading">
          <div class="d-flex justify-content-center">
            <img src="assets/images/spinner.gif" style="display: block; margin: auto; width: 200px" />
          </div>
        </div>

        <div class="card" *ngIf="!isLoading">

          <div class="boxs mail_listing">

            <div class="row justify-content-between mt-4 mx-3">
              <div class="col-6">
                <button mat-flat-button color="primary" (click)="openQRCode()" class="btn-block">
                  <i class="fas fa-qrcode"></i> View QR-code
                </button>
              </div>
              <div class="col-6">
                <button mat-flat-button class="btn-success btn-block" style="margin-left: 12px;">
                  <i class="material-icons">picture_as_pdf</i> Export to PDF
                </button>
              </div>
            </div>


            <div class="row justify-content-between mt-2 mx-3">
              <div class="col-6">
                <h5 class="my-2">Lease Information</h5>
              </div>
              <div class="col-6 text-right">
                <div class="button-container" style="margin-left: 10px;">
                  <button mat-icon-button color="primary" (click)="$event.stopPropagation(); onEditAsset()"
                    class="edit-button">
                    <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                  </button>
                  <span class="edit-text" (click)="$event.stopPropagation(); onEditAsset()">Edit Lease</span>
                </div>
              </div>
            </div>

            <div class="row justify-content-center mt-1">


              <div class="col-lg-6">
                <div class="body">
                  <table class="table table-responsive">
                    <thead class="thead-light">
                      <tr>
                        <th colspan="3">Lease Details</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                      <tr>
                        <td>Lesse Type</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{  this.leaseDetail.leaseType }}</td>
                      </tr>
                      <tr>
                        <td>Lessor Code</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.lessorCode }}</td>
                      </tr>
                      <tr>
                        <td>Lease Term</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.leaseTerm }}</td>
                      </tr>
                      <tr>
                        <td>Start Date</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.startDate | date: medium }}</td>
                      </tr>
                      <tr>
                        <td>End Date</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.endDate | date: medium }}</td>
                      </tr>
                      <tr>
                        <td>Lease Classification</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.leaseClassification }}</td>
                      </tr>
                      <tr>
                        <td>Lease Contract No</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.leaseContractNo }}</td>
                      </tr>
                      <tr>
                        <td>Fixed Payment</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.fixedPmt }}</td>
                      </tr>
                      <tr>
                        <td>Lessor Account No</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.lessorAccountNo }}</td>
                      </tr>
                      <tr>
                        <td>Discount Rate</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.discountRate }}</td>
                      </tr>
                      <tr>
                        <td>Escalation Factor</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.escalationFactor }}</td>
                      </tr>
                      <tr>
                        <td>Security Deposit</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.securityDeposit }}</td>
                      </tr>
                      <tr>
                        <td>Upfront Payment</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.upfrontPmt }}</td>
                      </tr>
                      <tr>
                        <td>Payment Frequency</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.paymentFrequency }}</td>
                      </tr>
                      <tr>
                        <td>Computed Discounting Rate</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.computedDiscountingRate }}</td>
                      </tr>
                      <tr>
                        <td>Computed Term</td>
                        <td>:</td>
                        <td class="text-primary font-weight-bold">{{ this.leaseDetail.computedTerm }}</td>
                      </tr>                


                    </tbody>
                  </table>
                </div>

              </div>
              <div class="col-lg-6">
                <div class="body">
                  <table class="table table-responsive">
                    <thead class="thead-light">
                      <tr>
                        <th colspan="3">Addional Details</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                       <!-- Additional Info for Land -->
                       <ng-container *ngIf="this.leaseDetail.leaseType === 'Land'">
                        <tr>
                          <td>Land Size</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.land.size }}</td>
                        </tr>
                        <tr>
                          <td>Land Location</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.land.location }}</td>
                        </tr>
                        <tr>
                          <td>Coordinates</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.land.coordinates }}</td>
                        </tr>
                        <tr>
                          <td>Land Registration Number</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.land.landRegNo }}</td>
                        </tr>
                        <tr>
                          <td>Land Utilization</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.land.utilizationLand }}</td>
                        </tr>
                        <tr>
                          <td>Layout</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.land.layout }}</td>
                        </tr>
                      </ng-container>
                      <!-- Additional Info for Building -->
                      <ng-container *ngIf="this.leaseDetail.leaseType === 'Building'">
                        <tr>
                          <td>Building Name</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.building.buildingName }}</td>
                        </tr>
                        <tr>
                          <td>Building Address</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.building.buildingAddress }}</td>
                        </tr>
                        <tr>
                          <td>Building Location</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.building.buildingLocation }}
                          </td>
                        </tr>
                        <tr>
                          <td>Floor Space</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.building.floorSpace }}</td>
                        </tr>
                        <tr>
                          <td>Building Utilization</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.building.utilizationBuilding }}
                          </td>
                        </tr>
                        <tr>
                          <td>Building Layout</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.building.buidingLayout }}</td>
                        </tr>
                      </ng-container>
                      <!-- Additional Info for Motor Vehicle -->
                      <ng-container *ngIf="this.leaseDetail.leaseType === 'Motor vehicle'">
                        <tr>
                          <td>Make</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.make }}</td>
                        </tr>
                        <tr>
                          <td>Model</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.model }}</td>
                        </tr>
                        <tr>
                          <td>Year of Manufacture</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.yom | date: 'short' }}</td>
                        </tr>
                        <tr>
                          <td>Vehicle Identification Number (VIN)</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.vin }}</td>
                        </tr>
                        <tr>
                          <td>Color</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.color }}</td>
                        </tr>
                        <tr>
                          <td>Engine Size</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.engineSize }}</td>
                        </tr>
                        <tr>
                          <td>Mileage</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.mileage }}</td>
                        </tr>
                        <tr>
                          <td>Vehicle Condition</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.vehicleCondition }}
                          </td>
                        </tr>
                        <tr>
                          <td>Registration Number</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.regNo }}</td>
                        </tr>
                        <tr>
                          <td>Proof of Insurance (POI)</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.poi }}</td>
                        </tr>
                        <tr>
                          <td>Vehicle Utilization</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.motorVehicle.utilizationVehicle
                            }}</td>
                        </tr>
                      </ng-container>
                      <!-- Additional Info for Plant and Machinery -->
                      <ng-container *ngIf="this.leaseDetail.leaseType === 'Plant and machinery'">
                        <tr>
                          <td>Type</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.plantAndMachinery.type }}</td>
                        </tr>
                        <tr>
                          <td>Serial Number</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.plantAndMachinery.serialNo }}
                          </td>
                        </tr>
                        <tr>
                          <td>Model Number</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.plantAndMachinery.modelNo }}
                          </td>
                        </tr>
                        <tr>
                          <td>Capacity</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.plantAndMachinery.capacity }}
                          </td>
                        </tr>
                        <tr>
                          <td>Status</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.plantAndMachinery.status }}</td>
                        </tr>
                        <tr>
                          <td>Machinery Utilization</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{
                            this.leaseDetail.plantAndMachinery.utilizationMachinery }}</td>
                        </tr>
                        <tr>
                          <td>Usage Location</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.plantAndMachinery.useLocation }}
                          </td>
                        </tr>
                      </ng-container>
                      <!-- Additional Info for Software -->
                      <ng-container *ngIf="this.leaseDetail.leaseType === 'Software'">
                        <tr>
                          <td>Name</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.software.name }}</td>
                        </tr>
                        <tr>
                          <td>Version</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.software.version }}</td>
                        </tr>
                        <tr>
                          <td>Vendor</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.software.vendor }}</td>
                        </tr>
                        <tr>
                          <td>License Type</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.software.licenseType }}</td>
                        </tr>
                        <tr>
                          <td>System Requirement</td>
                          <td>:</td>
                          <td class="text-primary font-weight-bold">{{ this.leaseDetail.software.systemRequirement }}
                          </td>
                        </tr>
                      </ng-container>

                    </tbody>
                  </table>
                </div>
              </div>




            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>