<section class="container my-5">
  <div class="row">
    <div class="col-md-8 m-auto">
      <mat-card class="card bg-white py-2 px-4">
        <div class="card-body my-3">
          <h2 class="mb-2 text-dark text-center">Reset Password</h2>
          <p class="text-dark">
            Use this form to reset your password using the registered email
            address and the token sent to the email address.
          </p>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Token</mat-label>
                  <input class="text-dark" matInput formControlName="token" type="text" required />
                  <mat-error
                    *ngIf="
                      resetPasswordForm.get('token').hasError('required') ||
                      resetPasswordForm.get('token').touched
                    "
                  >
                    Token cannot be blank
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input  class="text-dark" matInput type="email" formControlName="emailaddress" required />
                  <mat-error
                    *ngIf="
                      resetPasswordForm.get('emailaddress').hasError('required') ||
                      resetPasswordForm.get('emailaddress').touched
                    "
                  >
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input  class="text-dark" matInput type="password" formControlName="password" required />
                  <mat-error
                    *ngIf="
                      resetPasswordForm.get('password').hasError('required') ||
                      resetPasswordForm.get('password').touched
                    "
                  >
                    Please enter a password
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input class="text-dark" type="password" matInput formControlName="confirmpassword" required />
                  <mat-error
                    *ngIf="
                      resetPasswordForm
                        .get('confirmpassword')
                        .hasError('required') ||
                      resetPasswordForm.get('confirmpassword').touched
                    "
                  >
                    Please a password
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-grid my-2">
                <button class="btn btn-primary" [disabled]="!resetPasswordForm.valid " type="submit">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</section>
