<div class="addContainer">
  <div class="contact-details">
    <div class="modalHeader">
      <div class="contact-details-name mb-1">Select Department Unit</div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <mat-card-content>
        <div *ngIf="supplierDetails" class="body">
          <div class="table-responsi m-t-5">
            <div class="table-header py-3" style="background-color: rgba(219, 218, 218, 0.836); margin: 5px">
              <div class="row">
                <div class="col-6 px-4">
                  <div class="mx-auto">
                    <input class="pull-left search form-control" (keyup)="applyFilter($event)" placeholder="Filter..."
                      #input />
                  </div>
                </div>
                <div class="col-6 px-4">
                  <div class="mx-auto">
                    <div class="m-l-10" [hidden]="!selection.hasValue()">
                      <button mat-mini-fab color="primary" (click)="proceed()" [class.auth-spinner]="multimodifyloading"
                        [disabled]="multimodifyloading">
                        <mat-icon class="col-white">done_all </mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
              #exporter="matTableExporter">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'"
                    (change)="expSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'" [aria-label]="checkboxLabel(row)"
                    (change)="expSelected()">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap psl-3 tbl-col-width-per-12">Id
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-12">{{ row.id }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="departmentCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap psl-3 tbl-col-width-per-45">
                  DepartmentCode
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-45">
                  {{ row.departmentCode }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="departmentName">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap psl-3 tbl-col-width-per-50">
                  DepartmentName
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-50">
                  {{ row.departmentName }}
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
              <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple>
              </mat-row>
              <mat-cell *matNoDataRow colspan="4">
                No data matching the filter "{{ input.value }}"
              </mat-cell>
            </mat-table>
            <!-- Loading spinner -->
            <div *ngIf="isLoading" class="tbl-spinner">
              <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <mat-paginator [pageSize]="8" [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
              aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>