<div class="row">
  <div class="col-lg-3 col-sm-6" (click)="navigetToActiveUsers()">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Active Users</h4>
        <h2 class="text-end">
          <span class="float-start">{{users.length }}</span
          ><i class="fas fa-users"></i>
        </h2>
        <p class="m-b-0">View Active Users</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" (click)="navigateToDepartments()">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Total Departments</h4>
        <h2 class="text-end">
          <span class="float-start">{{departments.entity.length }}</span
          ><i class="far fa-check-circle"></i>
        </h2>
        <p class="m-b-0">View Departments</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" (click)="departmentUnitsRedirect()">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Total Department Units</h4>
        <h2 class="text-end">
          <span class="float-start">{{departmentUnits.length }}</span
          ><i class="fas fa-briefcase"></i>
        </h2>
        <p class="m-b-0">View department units</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6" (click)="navigateToCustodians()">
    <div class="info-box7 bg-banking order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Total Custodians</h4>
        <h2 class="text-end">
          <span class="float-start">{{custodians.length }}</span
          ><i class="fas fa-user-check"></i>
        </h2>
        <p class="m-b-0">View custodians</p>
      </div>
    </div>
  </div>
</div>