<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Add User'"
        [items]="['User']"
        [active_item]="'Add User'"
      >
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add User</h2>
          </div>
          <div class="body">
            <form [formGroup]="userForm" (ngSubmit)="addUser()" class="m-4">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>User name</mat-label>
                    <input matInput formControlName="username" required />
                    <mat-error
                      *ngIf="userForm.get('username').hasError('required')"
                    >
                      User name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>First name</mat-label>
                    <input formControlName="firstname" matInput />
                    <mat-error
                      *ngIf="userForm.get('firstname').hasError('required')"
                    >
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastname" required />
                    <mat-error
                      *ngIf="userForm.get('lastname').hasError('required')"
                    >
                      Last name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput />
                    <mat-error
                      *ngIf="userForm.get('email').hasError('required')"
                    >
                      Email is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required>
                      <mat-option
                        *ngFor="let role of roles"
                        [value]="role.name"
                      >
                        {{ role.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="userForm.get('role').hasError('required')"
                    >
                      Role is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg- col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="phonenumber" required />
                    <mat-error
                      *ngIf="userForm.get('phonenumber').hasError('required')"
                    >
                      Mobile name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Password</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      type="password"
                      required
                    />
                    <mat-error
                      *ngIf="userForm.get('password').hasError('required')"
                    >
                      password is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                    class="example-full-width mb-3"
                    appearance="outline"
                  >
                    <mat-label>Re-Enter Password</mat-label>
                    <input
                      matInput
                      formControlName="confirmPassword"
                      type="password"
                      required
                    />
                    <mat-error
                      *ngIf="
                        userForm.get('confirmPassword').hasError('required')
                      "
                    >
                      Re-Enter password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field
                  class="example-full-width mb-3"
                  appearance="outline"
                >
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="department" required>
                    <mat-option
                      *ngFor="let department of departments"
                      [value]="department.departmentName"
                    >
                      {{ department.departmentName }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="userForm.get('department').hasError('required')"
                  >
                    Department is required
                  </mat-error>
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button
                    class="btn-space"
                    [disabled]="!userForm.valid"
                    mat-raised-button
                    color="primary"
                  >
                    Submit
                  </button>
                  <button type="button" mat-button (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
