<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'User Logs'"
        [items]="['Home']"
        [active_item]="'User Logs'"
      >
      </app-breadcrumb>
    </div>
    <!-- Widgets -->
    <app-widgets></app-widgets>
    <!-- #END# Widgets -->

    

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12">
        <div class="card">
          <div class="body">
            <div class="table-responsive">
              <div class="materialTableHeader">
                <div class="row">
                  <div class="col-4">
                    <ul class="header-buttons-left ms-0">
                      <li class="dropdown">
                        <h2>Your Activities</h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"
                          ><i class="material-icons search-icon"
                            >search</i
                          ></label
                        >
                        <input
                          placeholder="Search"
                          type="text"
                          (keyup)="applyFilter($event)"
                          #filter
                          class="browser-default search-field"
                          aria-label="Search box"
                        />
                      </li>
                    </ul>
                  </div>
                  <!-- <div class="col-6">
                    <ul class="header-buttons-left ms-0">
                      <form [formGroup]="lookUpForm">
                        <li class="dropdown m-l-20">
                          <mat-form-field class="example-full-width">
                            <mat-label>Pick a date</mat-label>
                            <input
                              matInput
                              [matDatepicker]="picker3"
                              formControlName="stime"
                              required
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="picker3"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field>
                        </li>
                        <li class="dropdown m-l-20">
                          <mat-form-field class="example-full-width mb-3">
                            <mat-label>Username</mat-label>
                            <mat-select  formControlName="uname" required>
                              <mat-option
                                *ngFor="let user of users"
                                [value]="user.username"
                              >
                                {{ user.username }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </li>
                        <li class="dropdown m-l-20">
                          <button mat-flat-button color="primary">Look Up</button>
                        </li>
                      </form>
                    </ul>
                  </div> -->
                </div>
              </div>
              <mat-table
                #table
                [dataSource]="dataSource"
                matSort
                class="mat-cell"
              >
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Id
                  </mat-header-cell>
                  <mat-cell *matCellDef="let log">{{ log.id }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Time
                  </mat-header-cell>
                  <mat-cell *matCellDef="let log">
                    {{ log.starttime | date: "medium" }}</mat-cell
                  >
                </ng-container>
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Username
                  </mat-header-cell>
                  <mat-cell *matCellDef="let log">
                    {{ log.username }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="requesttip">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Request IP
                  </mat-header-cell>
                  <mat-cell *matCellDef="let log">
                    {{ log.requestip }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="activity">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Activity
                  </mat-header-cell>
                  <mat-cell *matCellDef="let log">
                    {{ log.activity }}
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns">
                </mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  (click)="detailsCall(row)"
                  [style.cursor]="'pointer'"
                  matRipple
                >
                </mat-row>
              </mat-table>
              <!-- Loading spinner -->
              <!-- <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div> -->
              <div
                *ngIf="logs.length < 0"
                class="no-results"
                [style.display]="
                  dataSource.renderedData.length == 0 ? '' : 'none'
                "
              >
                No results
              </div>
              <mat-paginator
                #paginator
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 15, 20, 25]"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-daily-logs></app-daily-logs> -->
  </div>
</section>
